<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create content">
            <form action="/languages" method="POST">
                <b>Current Rental Films: </b>
                <% if (rentalFilms.length > 0) { %></br>
                    <% rentalFilms.forEach(film => { %> 
                        <%=film.title %>:
                        <a href="<%=film.film_id%>/edit?film=<%=film.title%>">edit</a>&nbsp;
                        <a href="<%=film.film_id%>/delete?film=<%=film.title%>">delete</a></br>
                    <% }) %>
                <% } %>
                <label>Add Film:
                    <input type="text" id="film" name="title" value="<%= locals.theLanguage %>" required>
                </label>
                <buttofilm.title>POST</buttofilm.title
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>